<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>TV_Show</display-name>
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
	</context-param>
	<context-param>
		<param-name>username</param-name>
		<param-value>TV_Show</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>oliver</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>home1.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>servletCon</display-name>
		<servlet-name>servletCon</servlet-name>
		<servlet-class>com.TV_Show.servletCon</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.TV_Show.Register</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>findCustomer</display-name>
		<servlet-name>findCustomer</servlet-name>
		<servlet-class>com.TV_Show.findCustomer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>findMovie</display-name>
		<servlet-name>findMovie</servlet-name>
		<servlet-class>com.TV_Show.findMovie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletCon</servlet-name>
		<url-pattern>/servletCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>findCustomer</servlet-name>
		<url-pattern>/findCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>findMovie</servlet-name>
		<url-pattern>/findMovie</url-pattern>
	</servlet-mapping>
</web-app>